EXPO_PUBLIC_API_URL=http://localhost:3000
EXPO_PUBLIC_FIREBASE_API_KEY=example
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=example.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=example
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=example.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=examplex
EXPO_PUBLIC_FIREBASE_APP_ID=examplex
EXPO_PUBLIC_FIREBASE_MEASUREMENT_ID=G-example